body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

.environment {
  padding-top: 25px;
}

.w3-quarter {
  width: 20%;
}

.w3-red, .w3-hover-red:hover {
  color: #fff!important;
  background-color: #f44336a1!important;

}

.w3-grey, .w3-hover-red:hover {
  color: #fff!important;
  background-color: #5e56554c!important;

}

.w3-orange, .w3-hover-orange:hover {
  color: #fff!important;
  background-color: #ffeb3b8c!important;
}

.w3-yellow, .w3-hover-yellow:hover {
  color: #fff!important;
  background-color: #ff990051!important;

}

.w3-teal, .w3-hover-teal:hover {
  color: #fff!important;
  background-color: #00968887!important;
  opacity: 0.5;
}

.w3-blue, .w3-hover-blue:hover {
  color: #fff!important;
  background-color: #2196f382!important;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/Background_Main.jpg);
  min-height: 100%;
    color:  #6c7f95;
}

.bgimg-2 {
  background-position: center;
  background-size: cover;
  background-image: url("/static/Images/1LifeJumbo2.jpg");
  min-height: 100%;
  color: #bbd0ea;
}

.bgimg-3 {
  background-position: center;
  background-size: cover;
  background-image: url("/static/Images/1LifeJumbo3.jpg");
  min-height: 100%;
  color:  #bbd0ea;
}

.bgimg-4 {
  background-position: center;
  background-size: cover;
  background-image: url("/static/Images/1LifeJumbo4.jpg");
  min-height: 100%;
  color:  #bbd0ea;
}

.bgimg-5 {
  background-position: center;
  background-size: cover;
  background-image: url("/static/Images/1LifeJumbo5.jpg");
  min-height: 100%;
  color:  #bbd0ea;
}

.bgimg-6 {
  background-position: center;
  background-size: cover;
  background-image: url("/static/Images/1LifeJumbo6.jpg");
  min-height: 100%;
  color:  #bbd0ea;
}

.rightNavBar {
    padding-top: 25px;
}

.w3-bar .w3-button {
  padding: 16px;
}

.homebutton {
   color: #ffffff; 
  text-decoration: none;
  background-color: transparent;
}

.rowimage::after {
  content: "";
  clear: both;
  display: table;
}

.img-container {
  text-align: center;
  display: block;
}

.iconBig
{
  font-size: 120px;
  text-shadow:2px 2px 4px #000000;
}



.cenCol
{
  padding-left: 200px;
}

