<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/static/CSS/BaseCss.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>{% block title %} {% endblock %}</title>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/static/JS/chart.js/Chart.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  
</head>

<body>
  <div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
      <a href="/home" class="w3-bar-item w3-button w3-wide">
        <!-- <img src="/static/Images/1Life.png"> -->
      </a>
      <a class=" w3-button environment" style="padding-top: 40px;"><i class="fa fa-server" style='font-size:25px'></i>
        {% block Environment %}{{Environment}}{%endblock%}</a>
      <!-- Right-sided navbar links -->
      <!-- <div class="w3-right w3-hide-small rightNavBar">
        {% if isManager %}
        <a href="/ManagerDashboard" class="w3-bar-item w3-button"><i class="fas fa-chart-area"
            style='font-size:25px'></i> Manager Dashboard</a>
        {% endif %}
        <a href="/home" class="w3-bar-item w3-button"><i class="fas fa-clipboard" style='font-size:25px'></i> Support
          Functions</a>
        <a href="/logout" class="w3-bar-item w3-button"><i class="fas fa-sign-out-alt" style='font-size:25px'></i> Log
          Off</a>
         <a href="/ZeroPremium" class="w3-bar-item w3-button"><i class="fas fa-percentage" style='font-size:25px'></i> Zero Premium</a>
        <a href="/MornScan" class="w3-bar-item w3-button"><i class="fa fa-coffee" style='font-size:25px'></i> Morning Checks</a>
        <a href="/PayAt" class="w3-bar-item w3-button"><i class="fa fa-usd" style='font-size:25px'></i> Pay@</a> -->
      <!-- </div>  -->
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->

      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
        onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>

  <!-- Modal -->
  <div class="modal fade" id="searchModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <h1 color="black">Search</h1>
          <form class="navbar-form " role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% block PageConetent %}


  {% endblock %}

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>