{% extends "baseTemplate.html" %}
{% block title %}Home Page{% endblock %}
{% block PageConetent %}
<link rel="stylesheet" type="text/css" href="/static/CSS/home.css">
<header class="bgimg-1">
    <br>
    <br>
    <br>
    <div class="TitleBox  w3-center">
        <!-- <div class="container-l p-4 my-6 w3-round-large w3-center w3-opacity-min "> -->
            <h1 class="title">Password Encryption</h1>
        <!-- </div> -->
    </div>
    
    <br>
    <h3 class="AboutThisSite">
        The following site was created for encrypting your valuable information like.
        <br>
        Usernames, Passwords, Links, Messages, Files, Images
        <br>
          And store it in the code to be retrieved at any time and any place
    </h3>
    <br>
    <br>
    <div class="card-deck">
        <div class="card">
            <div class="card-header fa fa-lock w3-xxxlarge"><span>&nbsp;Encryp & Decrypt</div>
                <div class="card-body">
                    <br>
                    <h4 class="card-text">Encrypt my username and password and link.</h4>
                    <br>
                </div>
        </div>
        <div class="card">
            <div class="card-header fa fa-database w3-xxxlarge"><span>&nbsp;Encrypted</div>
            <div class="card-body">
                <br>
                <h4 class="card-text">View all my encryped details that i have stored.</h4>
                <br>
            </div>
        </div>
        <div class="card">
            <div class="card-header fa fa-user w3-xxxlarge"><span>&nbsp;Profile</div>
            <div class="card-body">
                <br>
                <h4 class="card-text">Update my personal information.</h4>
                <br>
            </div>
        </div>
    </div>
    <!-- <div class="container-sm p-4 my-6 w3-black w3-round-large w3-center text-white MyTesting" >    
    <form>
        <div class="form-group">
          <label for="exampleInputUsername" style="color:white">Username</label>
          <input type="text" class="form-control" id="InputUsername" placeholder="Password To Enqrypt">
          <small id="username_input" class="form-text text-muted">This is the Site Username you want to save.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password_Input" class="form-control" id="InputPassword1" placeholder="Password">
          <small id="password_input" class="form-text text-muted">This is the Site Password you want to save.</small>
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </form>
</div> -->


</header>
{% endblock %}